In [2]:
t = 'a'
type(t)

str

In [5]:
t1 = 'a', #add a COMMA
type(t1)

tuple

In [7]:
t2 = ('a')
type(t2)

str

In [9]:
t3 = ('a',) #comma!!!
type(t3)

tuple

#### tuple assignment

In [11]:
a = [1,2,3]
b = [4,5]

a,b = b,a 
# a tuple of variables = a tuple of expressions
print(a)
print(b)

c,d = [7,8],[9,0]
print(c,d)

[4, 5]
[1, 2, 3]
[7, 8] [9, 0]

In [12]:
def extrems(t):
    return min(t), max(t)

a = (1,2,34)
b = extrems(a)
b

(1, 34)

#### Gather and Scatter

In [19]:
def sum_three_num(a,b,c):
    return a+b+c

e = sum_three_num(*a)
e

f = divmod(*b)
f

(0, 1)

In [25]:
def sum_all(*args):
#     a = list(args)
    return sum(args)
    
g = sum_all(1,2,3)
g

# sum(1,2,3) TypeError: 'int' object is not iterable

6

#### zip
---
* not indexable

In [4]:
s = 'abc'
t = [1,2,3]
z = zip(s,t)
print(z)

<zip object at 0x000001D529643B08>

In [5]:
for i in z:
    print(i)

('a', 1)
('b', 2)
('c', 3)

#### initialize a dictionary with a list of tuple

In [8]:
a = ['lisa', 'lee', 'Tom']
b = [12,23,44]
dict1 = dict(zip(a,b)) # no need to convert the zip object to a list object
dict1

{'lisa': 12, 'lee': 23, 'Tom': 44}

In [10]:
c=['jane']
e=[18]
dict1.update(zip(c,e))
dict1

{'lisa': 12, 'lee': 23, 'Tom': 44, 'jane': 18}

In [12]:
f = ['jane']
g=[80]
dict1.update(zip(f,g))
dict1

{'lisa': 12, 'lee': 23, 'Tom': 44, 'jane': 80}

* dictionay keys have to be immutable, therefore they can be int, str, tuple etc., but not list
* if the tuple contains mutable objects, it cannot be used as a key

In [20]:
f_name = a
l_name = ['zhang','schmidt','bay']
phones = [123,234,345]

names = list(zip(f_name,l_name))
# names = tuple(zip(f_name,l_name)) 
# both work

# names = zip(f_name,l_name)
# TypeError: 'zip' object is not subscriptable
# It basically means that the object implements the __getitem__() method. 
# In other words, it describes objects that are "containers", meaning they contain other objects. 
# This includes lists, tuples, and dictionaries.

# phone_book={}
# for i in range(3):
#     phone_book[(f_name,l_name)[i]]=phones[i]
# TypeError: unhashable type: 'list'
# The problem is that you can't use a list as the key in a dict
    
phone_book={}
for i in range(3):
    phone_book[names[i]]=phones[i]

phone_book

{('lisa', 'zhang'): 123, ('lee', 'schmidt'): 234, ('Tom', 'bay'): 345}

# Exercises
---
### Exercise 12.1. 
Write a function called most_frequent that takes a string and prints the letters
in decreasing order of frequency. Find text samples from several different languages and see
how letter frequency varies between languages.

In [34]:
def count_letters(text):
    letter_hist = {}
    for letter in text:
        if letter != ' ':
            letter_hist[letter] = letter_hist.get(letter,0) + 1
        else:
            pass
        
    return letter_hist

In [35]:
a = 'i could see clearly now'
b = count_letters(a)
b

{'i': 1,
 'c': 2,
 'o': 2,
 'u': 1,
 'l': 3,
 'd': 1,
 's': 1,
 'e': 3,
 'a': 1,
 'r': 1,
 'y': 1,
 'n': 1,
 'w': 1}